.logo {
    height: 500px;
    width: 600px;

    border-radius: 100%;
}

.reg-main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.reg-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h1 {
    font-weight: 800;
    font-size: 50;
    color: rgb(19, 14, 72);
}

.reg-button {
    color: white;
    background-color: rgb(19, 14, 72);
    height: 35px;
    font-weight: 400;
    font-size: large;
}

.input-reg {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-text {
    text-align: center;
}

.forgot-pass {
    text-align: right;
}

.password-line {
    display: flex;
    justify-content: space-between;
}

.nav-banner {

    display: flex;
    flex-direction: row;
    background-color: #13243E;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}



ul {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    text-decoration: none;

}

li {
    color: white;
    margin-left: 15px;

}

.link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: large;
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footter {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #13243E;
    padding-bottom: 8px;
    margin-top: 20px;
}

.cite {
    text-align: center;
    align-items: center;
}

.footer-items {
    color: white;
    margin-left: 20px;
}

.footer-items-div {
    display: flex;
}

cite {
    color: white;
}


.home-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.balance-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: rgb(19, 14, 72);
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    border-radius: 20px;
    height: 250px;
    width: 500px;
}

.balance {
    color: green;
}


.deposit-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: rgb(19, 14, 72);
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    border-radius: 20px;
    height: fit-content;
    width: 500px;
    margin-top: 30px;
}

.submit-btn {
    color: white;
    background-color: rgb(19, 14, 72);
    height: 35px;
    width: 100px;
    font-weight: 400;
    font-size: medium;
    margin-top: 20px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 100%;
    height: 75vh;
}

h3 {
    text-align: center;
    size: 40px;
}


.transactions-items-div {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-radius: 20px;
    border-color: #13243E;
    border-width: 1;
    border-style: solid;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

.transaction-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dates-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.users-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border-color: #13243E;
    border-width: 1;
    border-style: solid;
    width: 400px;
    margin-top: 20px;
}

.image-user {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-items: center;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-div-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}